* {
	font-family: 'San Francisco', 'Helvetica Neue', sans-serif;
	text-align: center;
}

h1 {
	font-size: 64px;
	font-weight: 400;
	line-height: 1.0;
}

p {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1px;
}
