* {
	font-family: 'San Francisco', 'Helvetica Neue', sans-serif;
	text-align: center;
	background: #EEE;
}

h1 {
	font-size: 64px;
	font-weight: 400;
	line-height: 1.0;
}

p {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1px;
}

ul {
	display: inline;
	margin: 0 0.4em;
	list-style-type: none;
	padding: 0;
	margin: 0
}

ul li {
	display: inline-block;
	float: none;
	margin: 4px;
	position: relative;
}

a.subtleLink {
	color: #798083;
	text-decoration: none;
}

a.transparentButton {
	color: #798083;
	text-decoration: none;
	border: 1px solid #777;
	border-radius: 6px;
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 50px;
	line-height: 0;
	-webkit-transition: background 0.3s;
	        transition: background 0.3s;
}

a.transparentButton:hover {
	background: #5c6166;
	border-color: #5c6166;
	color: #FFF;
}

#transparentButtonText {
	margin-left: 10px;
	margin-right: 10px;
}
